@using Domain.Entities
@model Song
@Html.AntiForgeryToken()

@if (Model.Comments != null && Model.Comments.Count > 0)

{

    foreach (var comment in Model.Comments)

    {
        <div class="comment-item">
            <div class="raiting">
                @{
                    double rating = comment.Rating.Point;

                    for (int i = 1; i <= 5; i++)

                    {

                        if (i <= rating)

                        {
                            <i class="fa-solid fa-star" style="font-size:10px; color: #FEC006;"></i>
                        }

                        else

                        {
                            <i class="fa-solid fa-star" style="font-size:10px; color: lightgray;"></i>
                        }

                    }
                }
            </div>
            <div class="comment-add-area">
                <div class="comment-owner">
                    <div class="left-side">
                        <p>@comment.AppUser.Fullname</p>
                    </div>
                    <div class="right-side">
                        <i class="fa-regular fa-clock"></i>
                        <span>@comment.CreateDate.ToString("MM/dd/yyyy")</span>
                    </div>
                </div>
                <div class="user-comment">
                    <p>@comment.Message</p>

                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))

                    {
                        <a href="#" data-comment-id="@comment.Id" class="delete-comment-btn" style="color:#cfa671">
                            <i class="fa fa-trash " style="margin-top:10px" aria-hidden="true"></i> Delete
                        </a>
                    }
                </div>
            </div>
        </div>
    }

}
 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.delete-comment-btn').click(function (e) {
            e.preventDefault();
            var commentId = $(this).data('comment-id');

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#1ED760',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteComment", "Song")',
                        type: 'POST',
                        data: {
                            id: commentId,
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your comment has been deleted.',
                                    'success'
                                ).then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Failed!',
                                    'Failed to delete the comment.',
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Error!',
                                'An error occurred while trying to delete the comment.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });
</script>
