@model HomeVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/scss/style.css">
    <link rel="stylesheet" href="~/assets/scss/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <script defer src="~/assets/js/sidebar.js"></script>
    <script defer src="~/assets/js/activeWishlist.js"></script>
    <script defer src="~/assets/js/playMusic.js"></script>
    <script defer src="~/assets/js/playButtons.js"></script>
</head>
@Html.Partial("_LoginAreaPartial")

<section id="cards-area">
    <div class="content">

        <div class="throwback">
            <h2><a style="cursor:none">Recently added</a></h2>
        </div>
        <div class="main-cards">
            @Html.Partial("_AlbumCardPV")
        </div>
    </div>
</section>

<section id="cards-area">
    <div class="content">
        <div class="throwback">
            <h2><a style="text-decoration:none">Hip-Hop/Rap</a></h2>
            <a asp-controller="search" asp-action="detail" asp-route-category="Hip-Hop/Rap">Show all</a>
        </div>
        <div class="main-cards">
            @Html.Partial("_AlbumCardPV", new HomeVM { Category = "Hip-Hop/Rap", Albums = Model.Albums })
        </div>
    </div>
</section>

<section id="cards-area">
    <div class="content">
        <div class="throwback">
            <h2><a style="text-decoration:none">Pop</a></h2>
            <a asp-controller="search" asp-action="detail" asp-route-category="Pop">Show all</a>
        </div>
        <div class="main-cards">
            @Html.Partial("_AlbumCardPV", new HomeVM { Category = "Pop", Albums = Model.Albums })
        </div>
    </div>
</section>

<section id="cards-area">
    <div class="content">
        <div class="throwback">
            <h2><a style="text-decoration:none">Rock</a></h2>
            <a asp-controller="search" asp-action="detail" asp-route-category="Rock">Show all</a>
        </div>
        <div class="main-cards">
            @Html.Partial("_AlbumCardPV", new HomeVM { Category = "Rock", Albums = Model.Albums })
        </div>
    </div>
</section>

<section id="cards-area">
    <div class="content">
        <div class="throwback">
            <h2><a style="text-decoration:none">Jazz</a></h2>
            <a asp-controller="search" asp-action="detail" asp-route-category="Jazz">Show all</a>
        </div>
        <div class="main-cards">
            @Html.Partial("_AlbumCardPV", new HomeVM { Category = "Jazz", Albums = Model.Albums })
        </div>
    </div>
</section>


