@using Service.ViewModels
@model SearchCategoryDetailVM

<header id="spotify-header">
    <div class="content">

        <div class="right-side" style="margin-left:900px">
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-action="Register" asp-controller="Account">
                    <button id="signIn">Sign up</button>
                </a>
                <a asp-action="Login" asp-controller="Account">
                    <button id="signIn">Log in</button>
                </a>
            }
            else
            {
                     <button style="opacity:1!important" id="premium"><a style="text-decoration:none;color:black;font-size:14px" asp-action="Index" asp-controller="Premium" >Explore Premium</a></button>
            <button id="notification"><i class="fa-regular fa-bell"></i></button>
            <button id="user"><span>L</span></button>
            }
           
        </div>
    </div>
</header>
<section id="detail-area">
    <div class="content" style="height: 190px; background-color:@Model.Category.Color">
        <div class="left-side">
            <h2>@Model.Category.Name</h2>
        </div>
    </div>
</section>
<section id="top-music">
    <div class="context">
        <div class="throwback" style="margin-bottom: 18px;">
            <h2>
                <a href=""><span>@Model.Category.Name</span> Albums</a>
            </h2>
        </div>
        <div class="playlist-area">
            <div class="all-playlist">
               @foreach (var album in Model.Albums)
                {
                    <div class="card-container">
                        <div class="card">
                           <a asp-controller="album" asp-action="detail" asp-route-id="@album.Id">
                                <img src="~/assets/images/@album.Image" alt="">
                           </a>
                            <h3>@album.Name</h3>
                            <p>@album.Artist.FullName</p>

                            <button class="play">
                                <i id="play-icon" class="fa-solid fa-play"></i>
                                <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                            </button>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>
    <script src="~/assets/js/search.js"></script>
    <script src="~/assets/js/searchInput.js"></script>
    <script src="~/assets/js/wishlist.js"></script>
    <script src="~/assets/js/sidebar.js"></script>
    <script src="~/assets/js/playMusic.js"></script>
    <script src="~/assets/js/playButtons.js"></script>
    <script src="~/assets/js/activeWishlist.js"></script>

