@using Domain.Entities
@model Album
@{
    int count = 0;
}
<style>
    .music-name {
        text-decoration: none;
    }

        .music-name:hover {
            text-decoration: underline;
        }
</style>
<section class="a" id="detail-area">
    <div class="content">
        <div class="left-side">
            <img src="~/assets/images/@Model.Image" alt="">
        </div>
        <div class="right-side">
            <p>Album</p>
            <h1 id="page-title">@Model.Name</h1>
            <div class="about-detail">
                <div class="createdBy">
                    <img src="~/assets/images/@Model.Artist.ImageUrl" alt="">
                    <a style="text-decoration:none;color:white" asp-controller="artist" asp-action="detail" asp-route-id="@Model.Artist.Id"> <span>@Model.Artist.FullName</span></a>
                </div>
                <div class="likes-count">
                    <p>@Model.CreateDate.ToString("MMMM dd , yyyy")</p>
                </div>
                <div class="song-time-count">
                    <p><span>@ViewBag.TotalSongCount</span> songs </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="top-music">
    <div class="context">
        <div class="action-bar">
            <button class="play" id="actionbar-play">
                <i id="play-icon" class="fa-solid fa-play"></i>
                <i id="pause-icon" class="fa-solid fa-pause"></i>
            </button>
        </div>

        <div class="album-music-header">
            <div class="left-side">
                <p>#</p>
                <p>Title</p>
            </div>
            <div class="right-side">
                <i class="fa-regular fa-clock"></i>
            </div>
        </div>
        <div class="album-music">
            <div id="songs" class="songList">
                <partial name="_AlbumSongListPartial" />
            </div>
        </div>
        <input type="hidden" id="song_count" albumId="@Model.Id" value="@ViewBag.SongCount" />
        @if (Model.Songs.Count() > 0)
        {
            <button id="loadMore"> Load more</button>
        }
    </div>

</section>

<section id="more-albums">
    <section id="cards-area">
        <div class="content">
            <div class="throwback">
                <h2><a asp-action="Detail" asp-controller="Artist" asp-route-id="@Model.ArtistId" >More by <Span>@Model.Artist.FullName</Span></a></h2>
            </div>
            <div class="main-cards">
                @foreach (var otherAlbum in ViewBag.OtherAlbums)
                {
                    <div class="card-container">
                        <div class="card">
                            <a asp-controller="album" asp-action="detail" asp-route-id="@otherAlbum.Id"><img src="~/assets/images/@otherAlbum.Image" alt=""></a>
                            <h3>@otherAlbum.Name</h3>
                            <p>@otherAlbum.CreateDate.Year</p>
                            <button class="play">
                                <i id="play-icon" class="fa-solid fa-play"></i>
                                <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</section>

@section Scripts {
    <script src="~/assets/js/loadMore.js"></script>
}